[push]
  default = simple
[color]
  diff = auto
  status = auto
  branch = auto
[core]
  excludesfile = /Users/carlo.francisco/.gitignore_global
  autocrlf = input
	editor = nvim
[alias]
  c = commit -m
  a = add
  di = diff
  dic = diff --cached
  pl = pull
  ps = push
  plre = pull --rebase
  st = status
  out = log origin..HEAD
  b = branch
  st = status
  co = checkout
  lg  = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --graph --abbrev-commit --date=relative
  ci = commit
[diff]
  compactionHeuristic = true
[user]
  name = Carlo Francisco
  email = carlo@jcfrancisco.com
